{block content}
    <div>
        <h1>{_homepage.list.heading}</h1>
        {foreach $sports as $sport}
            {var $teams = $sport->related('teams', 'sport_id')->order('name ASC')}
            {continueIf $teams->count() == 0}
            <h2>{_$sport->title}</h2>
            {foreach $teams as $team}
                <div class="tymy">
                    <p>{_homepage.list.teams.team.name}: {$team->name}</p>
                    <p>{_homepage.list.teams.team.leader}: {$team->leader}</p>
                    <p>{_homepage.list.teams.team.referee}: {$team->referee}</p>
                    <p>{_homepage.list.teams.team.note}: {$team->note}</p>
                </div>
            {/foreach}
        {/foreach}
    </div>