{block content}
    <div>
        <h2>{_team.settings.teamEdit.heading}</h2>
        {control teamEditForm}
        <h2>{_team.settings.updatePassword.heading}</h2>
        {control updatePasswordForm}
    </div>