{block content}
    <div>
        Jste již zaregistrovaní? <a href="{link :Sign:in}">Přihlašte se.</a>
    </div>
    <div>
        <h1>Registrace týmů</h1>
        <p>MayDej 2016 přináší zápolení v&nbsp;těchto sportech:</p>
        <p><span class="upper">Volejbal</span> &ndash; smíšená šestičlenná družstva, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Nohejbal</span> &ndash; dvoučlenné týmy, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Fotbal</span> &ndash; na hřišti 4+1, druhá čtyřka na střídání, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Famfrpál</span> &ndash; 3 střelci, 2 odrážeči, 1 brankář, 1 chytač, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <br/>
        <p>Registrace probíhá pouze na webových stránkách.</p>
        <p>Startovné pro sportovce:	50,- Kč za osobu, hradí se v&nbsp;den turnaje přímo na místě před zahájením.</p>
        <p>Každý tým deleguje rozhodčího pro svůj sport.<br/>
            Rozhodčí může, ale nemusí, být hrajícím členem týmu.<br/>
            Rozhodčí má povinnost si nastudovat aktuální pravidla.</p>
        <p class="nastred"><a href="{link :Homepage:teams}"> &raquo; seznam týmů &laquo;</a></p>
    </div>
    <div id="registrace">
        <h2>Registrační formulář</h2>
        <p>Registrace končí 11.5.2016 ve 23:59.</p>
        {control upForm}
    </div>