﻿@charset "utf-8";
@page {margin: 1.5cm;}
html {background-color: white; margin: 0px; padding: 0px; width: 100%;}
body {border: none;	color: Black; font-family: 'Segoe UI', 'Book Antiqua', 'Open Sans', Times, serif; font-size: 12pt; width: 100%;}
a {color: #484848; text-decoration: underline;}
h1 {text-align: center;}
div {margin: 0px; padding: 0px;}
p {margin: 0; padding: 0 0 0.25em 0;}

#logo {display: none;}
#menu {display: none;}

.vpravo {text-align: right;}
.nastred {text-align: center;}
.tisk {display: block;}
